.backnumbers {
    display: flex;
    height: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2; /*rgb(51, 51, 51); si esta activo*/
    box-sizing: border-box;
    border-radius: 50%;
    background: #F2F2F2; /*rgb(51, 51, 51); si esta activo*/

    cursor: pointer;
    color: rgb(51, 51, 51);
}


.fontsteps {
    margin-top: 0.5rem;
    line-height: 1.25rem;
    color: rgb(51, 51, 51);
    font-family: "Open Sans", open-sans, sans-serif;
    font-size: 0.875rem;
    /* font-weight: bold; */
}

.line {
    box-sizing: border-box;
    border-bottom: 4px solid #F2F2F2;
    height: 0.25rem;
    margin: 1.1875rem 0.25rem 0;
    width: 9vw;
}

.btn-orange {
    color: #fff;
    background-image: none;
    background-color: #ff6000;
    border-color: #ff6000;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    transition: all .2s ease-in-out;
    padding: .785rem 2rem;
    line-height: 1.33333;
    border-radius: .2143rem;
    width: 100%;
}

.btn-orange:hover {
    background-color: transparent;
    color: #ff6000;
}

a {
    color: rgb(51, 51, 51);;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
 }
